.header{
    margin-top: 10px;
    grid-area: header;
    background: rgb(252, 152, 1);
}
.header img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 8px;
    margin-left: 10px;
}
.header__span{
    font-family: cursive;
    color: #000000;
}