.navbar {
    border-top: 1px solid black;
    grid-area: navBar;
    background: rgb(252, 152, 1);
    padding-top: 20px;
}

a {
    font-family: cursive;
    font-size: 20px;
    margin-left: 15px;
    color: #303031;
    text-decoration: none;
}

a:hover{
    font-family: cursive;
    font-size: 20px;
    margin-left: 15px;
    color: wheat;
    text-decoration: none;
}
a.active{
    color: wheat;
}
